body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
  color: #007bff;
}
.navbar {
  background-color: #fff !important;
}
.navbar-brand {
  color: #007bff !important;
  font-weight: bold;
}
.navbar-nav a {
  color: #007bff !important;
  font-weight: bold;
}
.top_header_bg {
  background-color: #fff;
  color: #007bff;
  padding: 10px 0;
}
.loger{
  color:#007bff;
}
.top_header_bg a {
  color: #007bff;
}
.page_title_bg {
  background-color: #007bff;
  color: #ffffff;
  padding: 60px 0;
}
.page_title_name {
  color: #ffffff !important;
  font-weight: bold;
}
.section_title {
  color: #007bff;
  font-weight: bold;
}
.footer {
  background-color: #007bff;
  color: #fff;
  padding: 40px 0px;
}
.footer p {
  margin-bottom: 10px;
}
.footer h4 {
  color: #fff;
  font-weight: bold;
}
.footer form .form-group {
  margin-bottom: 40px;
}
.footer form textarea.form-control {
  resize: none;
}
.footer button.btn-primary {
  background-color: #0056b3;
  border-color: #0056b3;
}
.footer button.btn-primary:hover {
  background-color: #004080;
  border-color: #004080;
}
/* Responsive layout adjustments */
@media (max-width: 768px) {
  .event_date_time {
    font-size: 12px; /* Smaller font size for mobile devices */
  }

  .event_img_holder {
    height: auto; /* Auto height for better image display */
  }
}
